<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feliland</title>
  <link rel="stylesheet" href="css/menu.css" />
  <link rel="icon" href="favicon.ico/icono_feliz.ico" type="image/x-icon"> 
</head>
<body>
  <header>
    <div class="container-hero">
      <div class="container hero">
        <div class="container-logo">
          <img src="favicon.ico/icono_feliz.ico" width="5%" alt="">
          <h1 class="logo"><a href="/">FELICILANDIA</a></h1>
        </div>
      </div>
    </div>

    <div class="container-navbar">
      <nav class="navbar container">
        <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#unispo">Atracciones</a></li>
          <li><a href="/calendario">Reservaciones</a></li>
		  <li><a href="#promo">promociones</a></li>
          <!-- Opción de Administración, oculta por defecto -->
          <li class="admin-menu hidden"><a href="#">Administración</a></li>
        </ul>
      </nav>
    </div>
  </header>

		<section class="banner">
			<div class="content-banner">
				<p>FELICILANDIA</p>
				<h2>¡Donde la diversión nunca termina<br />y los sueños cobran vida!</h2>
			</div>
		</section>

		<main class="main-content">

			<section class="container container-features">
				<div class="card-feature">
					<i class="fa-solid fa-people-group"></i>
					<div class="feature-content">
						<span>El mejor</span>
						<p>para pasar tiempo compartido</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-regular fa-calendar-days"></i>
					<div class="feature-content">
						<span>Reserva</span>
						<p>El dia que quieras</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-bridge"></i>
					<div class="feature-content">
						<span>Elige</span>
						<p>Tus atracciones favoritas</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-ice-cream"></i>
					<div class="feature-content">
						<span>Disfruta</span>
						<p>Los snack que gustes</p>
					</div>
				</div>
			</section>


			<section class="gallery">
				<img
					src="img/fondo_gale1.jpg"
					alt="Gallery Img1"
					class="gallery-img-1"
				/><img
					src="img/fondo_gale2.webp"
					alt="Gallery Img2"
					class="gallery-img-2"
				/><img
					src="img/fondo_gale3.jpg"
					alt="Gallery Img3"
					class="gallery-img-3"
				/><img
					src="img/fondo_gale4.jpg"
					alt="Gallery Img4"
					class="gallery-img-4"
				/><img
					src="img/fondo_gale5.jpg"
					alt="Gallery Img5"
					class="gallery-img-5"
				/>
			</section>


			<section class="container blogs" id="unispo">
				<h1 class="heading-1">Descubre</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="container-img">
							<img src="img/montaña_rusa.jpg" alt="Imagen Atracción 1" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Montaña Rusa Extrema</h3>
							<span>Adrenalina a toda velocidad</span>
							<p>
								"Experimenta la máxima emoción en la Montaña Rusa Extrema. Con caídas vertiginosas, giros de 360 grados y velocidades que te dejarán sin aliento, esta atracción es perfecta para los amantes de la adrenalina. ¿Te atreves a subir?"
							</p>
						</div>
					</div>
					
					<div class="card-blog">
						<div class="container-img">
							<img src="img/carrusel.jpg" alt="Imagen Atracción 2" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Carrusel Mágico</h3>
							<span>Para todas las edades</span>
							<p>
								"Disfruta de un viaje nostálgico en nuestro Carrusel Mágico. Con hermosos caballos y carruajes que giran suavemente al ritmo de una melodía encantadora, es una experiencia ideal para niños y adultos por igual."
							</p>
						</div>
					</div>
					
					<div class="card-blog">
						<div class="container-img">
							<img src="img/casa_del_terror.jpg	" alt="Imagen Atracción 3" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>//
							</div>
						</div>
						<div class="content-blog">
							<h3>La Casa del Terror</h3>
							<span>¿Te atreves a entrar?</span>
							<p>
								"Entra si te atreves a vivir una experiencia aterradora en la Casa del Terror. Con efectos especiales, luces tenebrosas y criaturas espeluznantes, esta atracción te pondrá los pelos de punta. ¿Saldrás sin gritar?"
							</p>
						</div>
					</div>
					
					<div class="card-blog">
						<div class="container-img">
							<img src="img/rueda_fortuna.jpg" alt="Imagen Atracción 4" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Rueda de la Fortuna</h3>
							<span>Las mejores vistas del parque</span>
							<p>
								"Disfruta de una vista panorámica del parque y sus alrededores en la Rueda de la Fortuna. Con góndolas cómodas y seguras, esta atracción es perfecta para una experiencia tranquila y relajada, ideal para todas las edades."
							</p>
						</div>
					</div>
					
					<div class="card-blog">
						<div class="container-img">
							<img src="img/autos_chocones.jpg" alt="Imagen Atracción 5" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Autos Chocones</h3>
							<span>Choques y diversión sin fin</span>
							<p>
								"Súbete a los Autos Chocones y desafía a tus amigos en una carrera llena de diversión. Conduce, choca y diviértete en esta clásica atracción de parque de diversiones que garantiza risas y entretenimiento para todos."
							</p>
						</div>
					</div>

					<div class="card-blog">
						<div class="container-img">
							<img src="img/tiro_al_blanco.jpg" alt="Imagen Atracción 6" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Tiro al Blanco</h3>
							<span>Demuestra tu puntería</span>
							<p>
								"Pon a prueba tu habilidad y precisión en el Tiro al Blanco. Gana grandes premios acertando en el centro de la diana con pelotas o dardos. ¡Diversión garantizada para todos los competidores! ¿Podrás llevarte el premio mayor?"
							</p>
						</div>
					</div>
					
				</div>
				
					
					
					
				
			</section>

			<section class="container blogs" id="promo">
				<h1 class="heading-1">Descubre</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion1.jpg" alt="Imagen Promoción Martes" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Martes de 2x1</h3>
							<span>¡Trae a un amigo gratis!</span>
							<p>
								"Los martes disfruta de la increíble promoción 2x1 en la entrada al parque. Compra tu entrada y trae a un amigo completamente gratis para vivir juntos la mejor experiencia en nuestras atracciones."
							</p>
						</div>
					</div>
				
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion2.jpg" alt="Imagen Promoción Miércoles" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Miércoles de niños gratis</h3>
							<span>Menores de 12 años</span>
							<p>
								"Cada miércoles, los niños menores de 12 años entran gratis al parque. Ven con toda la familia y disfruta de un día lleno de diversión y aventuras para los más pequeños de la casa."
							</p>
						</div>
					</div>
				
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion3.jpg" alt="Imagen Promoción Jueves" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Jueves de comida al 50%</h3>
							<span>Descuentos en todos los stands</span>
							<p>
								"Los jueves, disfruta de un 50% de descuento en todos los puestos de comida dentro del parque. Desde helados hasta hamburguesas, ¡todo a mitad de precio para que disfrutes sin preocupaciones!"
							</p>
						</div>
					</div>
				
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion4.jpg" alt="Imagen Promoción Viernes" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Viernes de estudiantes</h3>
							<span>Descuento del 30%</span>
							<p>
								"¡Estudiantes, este es su día! Muestra tu identificación estudiantil en taquilla y recibe un 30% de descuento en tu entrada al parque. ¡Una oferta imperdible para iniciar el fin de semana!"
							</p>
						</div>
					</div>
				
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion5.jpg" alt="Imagen Promoción Sábado" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Sábado de juegos gratis</h3>
							<span>Participa en sorteos</span>
							<p>
								"El sábado es el día de los juegos gratis. Cada hora sorteamos entradas para participar sin costo en nuestros juegos y concursos. ¡Gana premios mientras te diviertes en el parque!"
							</p>
						</div>
					</div>
				
					<div class="card-blog">
						<div class="container-img">
							<img src="img/promocion6.jpg" alt="Imagen Promoción Domingo" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Domingo familiar</h3>
							<span>Descuento del 25% para familias</span>
							<p>
								"Ven con toda tu familia los domingos y recibe un 25% de descuento en la entrada familiar. Disfruta de un día lleno de diversión y emoción para grandes y pequeños en el mejor parque de diversiones."
							</p>
						</div>
					</div>
				</div>
		
			

		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					
					<div class="information">
						<p class="title-footer">Información</p>
						<p>Aguascalientes, Aguascalientes</p>
						<p>Num de contacto:</p>
						<p>+52 449 7567 588</p>
					</div>

				</div>

				
			</div>
		</footer>
	</body>
</html>
